<html xmlns:th="http://www.thymeleaf.org">
	<head>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" href="./../css/index.css" />
		<script src="./../js/index.js"></script>

	</head>
	<body>

	<div id="header">
		adsd
	</div>

	<div id="main">
		<div id="loader">
			<div id="box"></div>
			<div id="hill"></div>
		</div>
	</div>

	<div class="alert">
		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>

	</div>

	</body>
</html>