<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="./../css/index.css"/>
    <script src="./../js/index.js"></script>

    <link rel="stylesheet" href="./../css/index.css" />
    <link rel="stylesheet" href="./../css/login.css"/>
    <script src="./../js/login.js"></script>
</head>
<body>

<div id="header">
    adsd
</div>

<div id="loader">
    <div id="box"></div>
    <div id="hill"></div>
</div>

<div id="main">

    <div class="container">
        <div class="wrapper">

            <ul class="steps">
                <li class="is-active">Giriş</li>
            </ul>
            <form id="loginForm" class="form-wrapper" action="javascript:void()">
                <fieldset class="section is-active">
                    <h3>Kullanıcı Bilgileri</h3>

                    <input type="text"  name="username"  id="username" placeholder="Kullanıcı Adı"/>
                    <input type="password" name="password" id="password" placeholder="Şifre"/>

                    <input type="button" class="button openRegister" style="margin-right: 100px;" value="Kayıt Ol"/>
                    <input type="button" class="button login" value="Giriş"/>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>

    </div>

</div>
</body>
</html>