<link rel="stylesheet" href="./../css/login.css" />
<script src="./../js/login.js"></script>

<div class="container">
    <div class="wrapper">
        <ul class="steps">
            <li class="is-active">Adım 1</li>
            <li>Adım 2</li>
        </ul>
        <form id="registerForm" class="form-wrapper">
            <fieldset class="section is-active">
                <h3>Kullanıcı Bilgileri</h3>
                <input type="text" name="username" id="name" placeholder="Kullanıcı Adı" />
                <input type="text" name="email" id="email" placeholder="E-Posta" />
                <div class="button registerButton">İleri</div>
            </fieldset>

            <fieldset class="section">
                <h3>Bir Parola Seç</h3>
                <input type="password" name="password" id="password" placeholder="Parola" />
                <input class="submit button registerButton" type="submit" value="Kaydet" />
            </fieldset>
            <fieldset class="section">
                <h3>Başarılı</h3>
                <p>Hesabınız Oluşturuldu.</p>
                <div class="button">Giriş Yap</div>
            </fieldset>
        </form>
    </div>
</div>